
@font-face {
    font-family: 'Dekar';
    src: url('../fonts/Dekar.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dekar.otf')  format('opentype'),
        url('../fonts/Dekar.woff') format('woff'),
        url('../fonts/Dekar.ttf')  format('truetype'),
        url('../fonts/Dekar.svg#Dekar') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dekar-Light';
    src: url('../fonts/Dekar-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dekar-Light.otf')  format('opentype'),
        url('../fonts/Dekar-Light.woff') format('woff'),
        url('../fonts/Dekar-Light.ttf')  format('truetype'),
        url('../fonts/Dekar-Light.svg#Dekar-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
